
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-1: #9DA3EB;
  --color-2: #A4BFF5;
  --color-3: #9FC5DE;
  --color-4: #A4EAF5;
  --color-5:  --color-5: #9DEBE0;;
  --correct: rgb(80, 231, 49);
  --bad: rgb(236, 33, 33);
  --color-icon: #ffffff;
  --blur-color: #9da3eb70;
  --fuente: "Poppins";
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color:#A4EAF5;
    position: relative;
    overflow: hidden;
}

.icons {
    width: 200px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 10px;
    background-color: #9DA3EB;
    transition: .25s ease;
}

.icons .icon {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .25s ease;
    border-radius: 0 0 10px 10px;
}

.icons .icon:hover {
    background-color:#9FC5DE;
    transform:  scale(1.06);
    box-shadow: white;
}

.icons .icon svg {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons .rotated svg {
    transform: rotate(45deg);
}

.icons .icon svg path {
    width: 40px;
    height: 40px;
    fill: white;
}

.container .content {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.container .content .list::-webkit-scrollbar {
    width: 10px;
    background-color: #9DA3EB;
    border-radius: 20px;
}

.container .content .list::-webkit-scrollbar-thumb {
    background-color:#A4EAF5;
    border: 1px solid #000;
    border-radius: 20px;
}

.container .content .title {
    font-family: var(--fuente);
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.container .content .list {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    width: 80%;
    padding: 10px;
}

.container .content .list .list-item {
    background-color: #A4BFF5;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    margin-bottom: 15px;
    border-radius: 20px;
    transition: .25s ease;
}

.container .content .list .list-item .data {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.container .content .list .list-item .data h2 {
    font-family: var(--fuente);
    font-size: 30px;
    margin-left: 20px;
}

.container .content .list .list-item .data p {
    font-family: var(--fuente);
    font-size: 20px;
    margin-left: 20px;
}

.container .content .list .list-item .data img {
    width: 200px;
    height: 200px;
    background-color: white;
    object-fit: cover;
    border-radius: 50%;
    margin: 0;
    border: 8px solid white;
    transition: .25s ease;
}

.container .content .list .list-item:hover {
    background-color:#9FC5DE ;
    transform: translate(-4px, -4px);
    box-shadow: 4px 4px ;
}

.container .content .list .list-item:hover > .data img{
    border: 0.1px solid  #9DA3EB;
    transform: translate(-4px, -4px);
    box-shadow: 4px 4px var(--color-1);
}

.container .content .list .list-item:last-child {
    margin-bottom: 0;
}

.container .content .list .list-item .actions {
    display: flex;
    flex-direction: row;
}

.container .content .list .list-item .actions a {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    background-color: #9DA3EB;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    transition: .25s ease;
}

.container .content .list .list-item .actions a:hover {
    background-color: #9DEBE0;
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px  #9DA3EB;
}

.container .content .list .list-item .actions a:last-child {
    margin-right: 0;
}
